@layer tailwind-base, primereact, tailwind-utilities;

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

.highlight {
    background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-9&color=FFCE00);
    margin: 0 -1rem;
    padding: 0 1rem;
}

.bg-pattern {
    background-color: #e5e5f7;
    opacity: 0.3;
    background-image: radial-gradient(#ffce00 2px, #e5e5f7 2px);
    background-size: 40px 40px;
}

.p-menu .p-menuitem-link {
    padding: 0.5rem 0.75rem;
    gap: 0.5rem;
}
